.cartitembg{

    width: 40rem;
    height: 8rem;
    background-color: rgb(255, 255, 255);
   opacity: 30%;
   border-radius: 10px;
   position: absolute;
}

.cartitemdata{
    position: absolute;
width: 30rem;
height: 7rem;
z-index: 2;
}

.cartitemimg{
    width: 9rem;
    height: 9rem;
     left:1rem;
     position: absolute;
}

.cartitemname{
    font-size:2.5rem;
    color: white;
    top: 10px;
    left: 10px;
    position: relative;
}
.pricedetails{
   left: 10rem;
   bottom: 3.8rem;
   position: relative;
    display: flex;
    flex-direction: row;
font-size:2.5rem;
    color: white;
    gap: 2.5rem;
}

.AddAndRemove{
    left: 25rem;
   bottom: 1.5rem;
   position: relative;
    display: flex;
    flex-direction: row;
font-size:2.5rem;
    color: white;
    gap: 3rem;
}
.Aand{
width: 4rem;
height: 2rem;
background-color: rgb(255, 106, 52);
left: 24rem;
bottom: 3.5rem;
position: absolute;
border: 0px;
border-radius: 4px;
font-size: large;
}   
.Rand{
    
    width: 4rem;
    height: 2rem;
    background-color: rgb(255, 106, 52);
    left: 30rem;
    bottom: 3.5rem;
    position: absolute;
    border: 0px;
    border-radius: 4px;
    font-size: large;

}
